body {
    font-family:  Helvetica, Arial, sans-serif;
    margin: 32px;
}

#power-gauge g.arc {
    fill: steelblue;
}

#power-gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
}
.top-label{
    font-weight: bold;
    color: rgb(5, 5, 75);
}
.gauge-container{
    width: 250px;
    text-align: center;
}
.zindex {
    z-index: 10000;
    position: relative;
}
.Chip {
    width: 20px;
    height: 11px;
    border-radius: 10px;
    display: inline-block;
    margin: -1px 4px 0px 0;
}