<div class="container">

  <div class="row">
    <div class="form-container col-md-6 mw-350">
      <h2>Lumpsum Calculator</h2>
      <label for="principal">Principal Amount:</label>
      <input type="number" id="principal" [(ngModel)]="principal">

      <label for="interestRate">Interest Rate:</label>
      <input type="number" id="interestRate" [(ngModel)]="interestRate">

      <label for="timePeriod">Time Period (in years):</label>
      <input type="number" id="timePeriod" [(ngModel)]="timePeriod">
      <button (click)="calculateFutureValue()" class="btn ml-2" style="width: 96%;">Calculate</button>

      <div *ngIf="futureValue !== null">
        <p>Future Value: {{ futureValue | indianNumber}}</p>
      </div>
    </div>
    <div class="form-container col-md-6 mw-350">
      <app-charts [limitData]="limitData"></app-charts>
    </div>

  </div>



</div>
<div class="container">
  <table *ngIf="investmentData" class="table investment-table table-striped table-bordered">
    <thead>
      <tr>
        <th>Year</th>
        <!-- <th>Invested Amount</th> -->
        <th>Wealth Gained</th>
        <th>Total Wealth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let yearData of investmentData">
        <td>{{ yearData.year }}</td>
        <!-- <td>{{ yearData.investmentValue }}</td> -->
        <td>{{ yearData.wealthGained | indianNumber}}</td>
        <td>{{ yearData.investmentValue | indianNumber }}</td>
      </tr>
    </tbody>
  </table>
</div>