<div>
  <div class="form-container">
    <label for="principal">Principal Amount:</label>
    <input type="number" id="principal" [(ngModel)]="principal">

    <label for="interestRate">Interest Rate:</label>
    <input type="number" id="interestRate" [(ngModel)]="interestRate">

    <label for="timePeriod">Time Period (in years):</label>
    <input type="number" id="timePeriod" [(ngModel)]="timePeriod">
    <button (click)="calculateFutureValue()">Calculate</button>

    <div *ngIf="futureValue !== null">
      <p>Future Value: {{ futureValue }}</p>
    </div>
  </div>



</div>
<table *ngIf="investmentData" class="investment-table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Investment Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let yearData of investmentData">
      <td>{{ yearData.year }}</td>
      <td>{{ yearData.investmentValue | indianNumber }}</td>
    </tr>
  </tbody>
</table>